body {
    text-align: center;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkcyan;
    font-weight: bold;
}

h2 {
    color:green;
}

ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

ol{
    font-size: 20px;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li::marker{
    color: green;
}

#nav-bar {
    background-color: darkcyan;
    font-size: 20px;
    text-align: left;
    padding: 10px;  
}

#nav-bar a:visited {
    color: white;
}

button {
    background-color: darkcyan;
    border: 1px solid darkcyan; 
    color: white;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkcyan;
    border: 0px;
    padding: 21px;
    text-decoration: underline white;
  }

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.recipe-spotlight {
    border: 2px solid darkcyan;
    border-radius: 5px;
    margin: 5px;
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 5px;
}

.recipe-spotlight img {
    max-width: 100%;
    max-height: 100%;
}