body {
    text-align: center;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkcyan;
    font-weight: bold;
}

h2 {
    color:green;
}

ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

ol{
    font-size: 20px;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li::marker{
    color: green;
}

a:hover{
    color:darkblue;
}

a:visited{
    color: green;
}

#nav-bar {
    background-color: darkcyan;
    font-size: 20px;
    text-align: left;
    padding: 10px;  
}

#nav-bar a:visited {
    color: lightgray;
}

.recipe-list {
    display: flex;
  }

.recipe-list div {
    border: 2px solid darkcyan;
    border-radius: 5px;
    margin: 5px;
    flex: auto;
}

img {
    max-width: 100%;
}